Repository javaistic/javaistic, pull requests merged in 2022-10, with the labels that each got.

#367 Addition of two binary numbers
  src/navs/program.js
  src/pages/programs/java-program-to-add-two-binary-numbers.mdx
Labels: 📖 docs, hacktoberfest-accepted, programs

#369 Update Search Component
  src/components/Search.js
  src/components/icons/SearchIcon.js
  src/css/docsearch.css
Labels: 🔥 enhancement, hacktoberfest-accepted

#371 Java program to multiply two numbers
  src/navs/program.js
  src/pages/programs/multiply-two-numbers.mdx
Labels: 📖 docs, programs
