Repository javaistic/javaistic, pull requests merged in 2023-10, with the labels that each got.

#564 Add java program to calculate Simple Interest
  src/navs/program.js
  src/pages/programs/calculate-simple-interest.mdx
Labels: hacktoberfest-accepted, programs

#567 Add program to find quotient and reminder, calculate power of a number.
  src/navs/program.js
  src/pages/programs/calculate-power-of-a-number.mdx
  src/pages/programs/find-quotient-and-reminder.mdx
Labels: programs

#569 A java program that calculates the factorial of user given number
  src/navs/program.js
  src/pages/programs/factorial-in-java.mdx
Labels: programs

#570 Added Compound Interest Java Code
  src/navs/program.js
  src/pages/programs/calculate-compound-interest.mdx
Labels: programs

#571 Change Twitter logo to its New Logo as X
  src/components/Logos.js
Labels: 🔥 enhancement

#574 Update README.md
  README.md
Labels: 🔥 enhancement

#576 Update Algolia Logo
  .github/img/search-by-algolia.svg
  README.md
  package.json
  yarn.lock
Labels: 🔥 enhancement

#579 Add break statement docs
  src/navs/documentation.js
  src/pages/docs/break-statement.mdx
Labels: 📖 docs, 🔥 enhancement, hacktoberfest-accepted

#581 Add continue statement
  src/navs/documentation.js
  src/pages/docs/continue-statement.mdx
Labels: 📖 docs, 🔥 enhancement, hacktoberfest-accepted

#583 Add arrays docs
  src/navs/documentation.js
  src/pages/docs/arrays.mdx
Labels: 📖 docs, 🔥 enhancement, hacktoberfest-accepted

#585 Scroll to top button added
  src/components/home/BackToTopButton.js
  src/pages/index.js
Labels: 🔥 enhancement
